:root {
  --sort: #1d1b1d;
  --hvid: #f7e9ce;
  --prim: #f78102;
  --sknd: #5b3107;
  --tert: #54af0c;

  /* font weights */
  --bold: 700;
  --regular: 400;

  /* spacing */
  --mobile: 15px;
  --ldesktop: 150px;
  --sdesktop: 80px;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-family: baloo-2, sans-serif;
  font-weight: var(--regular);
  line-height: 1.4;
}

body {
  background-color: var(--hvid);
}

/* Styles --------------------------------------------------------------------------------------- */
h1 {
  font-family: shrunken-head-bb, sans-serif;
  font-size: 3.5rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  font-weight: var(--bold);
  line-height: 1.1;
}

h3 {
  font-size: 1.8rem;
  font-weight: var(--bold);
  line-height: 1.1;
}

/* TILFØJ TIL ORIGINAL FIL */
h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
/* TILFØJELSER SLUTTER HER */

h5 {
  font-size: 1rem;
  font-weight: var(--bold);
}

.button__cta--neg {
  display: block;
  height: auto;
  padding: 5px 15px;
  background: var(--prim);
  font-size: 1rem;
  font-weight: var(--bold);
  text-decoration: none;
  color: var(--hvid);
  width: fit-content;
  border-radius: 7px;
}

.button__cta--pos {
  display: block;
  height: auto;
  padding: 5px 15px;
  background: var(--sknd);
  font-size: 1rem;
  font-weight: var(--bold);
  text-decoration: none;
  color: var(--hvid);
  width: fit-content;
  border-radius: 7px;
}

#header__button--cta {
  font-size: 0.833rem;
}

.video {
  width: 100%;
  height: 326px;
  border: 0;
}

/* Header --------------------------------------------------------------------------------------- */
header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 9px var(--mobile);
  justify-content: space-between;
  align-items: center;
  background: var(--sort);
  gap: 14px;
  position: fixed;
  top: 0;
}

.header__logo--langs {
  display: none;
  width: fit-content;
  height: 35px;
}

.header__logo--langs img {
  height: 100%;
  width: auto;
}

.header__logo--ikon {
  display: block;
  width: fit-content;
  height: 35px;
}

.header__logo--ikon img {
  height: 100%;
  width: auto;
}

.header__burgermenu {
  width: 27px;
  height: 27px;
  background: var(--prim);
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav__menudesk--liste {
  display: none;
  gap: 14px;
}

.nav__menudesk--button a {
  text-decoration: none;
  color: var(--hvid);
  padding: 10px 15px;
  font-size: 0.833rem;
}

#hero__efterheader {
  margin-top: 80px;
}

.sortbg {
  background-color: var(--sort);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 15px 15px;
  color: var(--hvid);
}

/* Hero sektion ---------------------------------------------------------------------------------------*/
.hero {
  display: flex;
  width: 100%;
  height: 365px;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-image: url("../images/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Mission og vision ------------------------------------------------------------------------------------*/
.misogvis {
  display: flex;
  width: 100%;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.misogvis__kort {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--sort);
}

.misogvis__kort h3 {
  text-align: center;
}

.misogvis__kort--img {
  width: 100%;
  height: fit-content;
}

.misogvis__kort--img img {
  width: 100%;
  height: auto;
}

/* Kampagnevideo sektion ---------------------------------------------------------------------------------*/
.kampagnevideo__graabg {
  display: flex;
  width: 100%;
  padding: 45px var(--mobile);
  flex-direction: column;
  align-items: center;
  gap: 21px;
  background-color: var(--sort);
  color: var(--hvid);
}

.kampagnevideo__graabg h2 {
  text-align: center;
}

.kampagnevideo {
  display: flex;
  width: 100%;
  padding: 45px var(--mobile);
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.kampagnevideo h2 {
  text-align: center;
}

.kampagnevideo__video {
  width: 100%;
  height: auto;
}

/* Nyheder sektionen -------------------------------------------------------------------------------------*/
.mediatext {
  display: flex;
  width: 100%;
  padding: 25px var(--mobile);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 21px;
  color: var(--sort);
}

.mediatext img {
  width: 100%;
  height: auto;
}

.mediatext__textbox {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  height: auto;
  gap: 10px;
}

.mediatext__textbox a {
  text-align: left;
  margin-left: 0;
}

.mediatext__titel--mobil {
  display: block;
}

.mediatext__titel--desktop {
  display: none;
}

.mediatext__vertical {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  gap: 21px;
}

/* footer -----------------------------------------------------------------------------------------------*/
footer {
  display: flex;
  width: 100%;
  height: 256px;
  padding: var(--mobile);
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--sort);
  margin-top: 50px;
}

footer img {
  width: 60px;
  height: 60px;
}

footer h5 {
  color: var(--hvid);
}

.footer__menu--ul {
  padding: 0;
}

.footer__menu--ul li {
  list-style: none;
}

.footer__menu--ul li a {
  text-decoration: none;
  font-size: 0.833rem;
  color: var(--hvid);
}

.footer__some {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__some--box {
  display: flex;
  gap: 10px;
}

.footer__some--box a {
  display: block;
  width: 30px;
  height: 30px;
  color: var(--hvid);
  border-radius: 5px;
  font-size: 1rem;
}

.footer__some--box a:hover {
  cursor: pointer;
  color: var(--prim);
}

#footer__cta {
  align-self: flex-end;
  justify-content: right;
}

/* Sektion med grå baggrund og mediatekst -----------------------------------------------------------------------------------------*/
.graabgmedia {
  display: flex;
  width: 100%;
  padding: 50px var(--mobile);
  flex-direction: column;
  align-items: center;
  gap: 21px;
  color: var(--hvid);
  background-color: var(--sort);
}

.graabgmedia__billede {
  width: 100%;
  height: auto;
}
.graabgmedia__billede img {
  width: 100%;
  height: auto;
}

.graabgmedia__textbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.graabgmedia a {
  background-color: black;
}

/* om os hero sektion -----------------------------------------------------------------------------------------------------------*/
.mediatext__hero {
  padding: 50px var(--mobile);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

.mediatext__hero img {
  width: 100%;
  height: auto;
}

/* Betalingsservice ---------------------------------------------------------------------------------------------------------------*/
.betaling {
  background-color: var(--sort);
  color: var(--hvid);
  padding: 25px var(--mobile);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.betaling__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.betaling__box--knapbox--verti {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.betaling__box--knapbox--hori {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.betaling__knap {
  width: fit-content;
  padding: 5px 15px;
  border: 2px solid var(--hvid);
  background-color: var(--sort);
  color: var(--hvid);
  border-radius: 5px;
  font-weight: var(--bold);
  transition: 0.3s;
}
.betaling__knap:hover {
  background-color: var(--prim);
  color: var(--hvid);
  border-color: var(--prim);
  cursor: pointer;
}
.betaling__knap.active {
  border-color: var(--prim);
  background-color: var(--prim);
  color: var(--hvid);
}
.input__skriv {
  border: none;
  font-size: 0.833rem;
  width: 100%;
  padding: 7.5px 10px;
  border-radius: 5px;
  border: 2px solid var(--hvid);
  background-color: var(--hvid);
  transition: 0.3s;
}
.input__skriv:hover {
  border: 2px solid var(--prim);
}
#betaling__input--skrivbelob {
  display: none;
}
.betaling__knap--input {
  width: fit-content;
  font-weight: var(--bold);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: var(--sort);
  background-color: var(--hvid);
  transition: 0.3s;
}
.betaling__knap--input:hover {
  color: var(--hvid);
  background-color: var(--prim);
  cursor: pointer;
}

.betaling__box--form--verti {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.betaling__box--checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.betaling__box--checkbox img {
  width: 30px;
  height: auto;
  color: var(--hvid);
}

.betaling__box--cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.betaling__knap--cta {
  width: 100%;
  padding: 5px 15px;
  border: none;
  background-color: var(--prim);
  color: var(--hvid);
  border-radius: 5px;
  font-weight: var(--bold);
  transition: 0.3s;
}
.betaling__knap--cta:hover {
  width: 100%;
  height: auto;
  background-color: var(--tert);
  color: var(--hvid);
  cursor: pointer;
}
/* Betalingsservice ---------------------------------------------------------------------------------------------------------------*/

/* Til små desktop skærme */
@media screen and (min-width: 885px) and (max-width: 1023px) {
  * {
    font-size: 18px;
    line-height: 1.5;
  }

  .button__cta {
    padding: 8px 35px;
  }

  .video {
    height: 500px;
  }

  .nav__menudesk--liste {
    display: flex;
  }

  header {
    padding: 15px var(--sdesktop);
  }

  .header__burgermenu {
    display: none;
  }

  .hero {
    padding: 200px 15%;
    gap: 20px;
    height: 700px;
  }
  .misogvis {
    flex-direction: row;
    padding: 50px 160px;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .kampagnevideo {
    padding: 50px var(--sdesktop);
    gap: 25px;
  }

  .mediatext {
    flex-direction: row;
    padding: 50px var(--sdesktop);
    gap: 80px;
    align-items: center;
  }
  .mediatext__textbox {
    gap: 25px;
    width: 100%;
  }
  .mediatext__titel--mobil {
    display: none;
  }
  .mediatext__titel--desktop {
    display: block;
  }
  .mediatext__vertical {
    padding: 50px var(--sdesktop);
  }
  .graabgmedia {
    flex-direction: row;
    padding: 50px var(--sdesktop);
    gap: 50px;
  }
  .graabgmedia__textbox {
    gap: 25px;
  }

  footer {
    padding: 50px var(--sdesktop);
    height: 356px;
    justify-content: space-between;
    align-items: flex-start;
  }
  #footer__cta {
    align-self: flex-start;
  }
}

/* Til medium desktop skærme */
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  * {
    font-size: 18px;
    line-height: 1.5;
  }

  .button__cta {
    padding: 8px 35px;
  }

  .video {
    height: 600px;
  }

  .nav__menudesk--liste {
    display: flex;
  }

  header {
    padding: 15px var(--sdesktop);
  }

  .header__logo--langs {
    display: block;
  }

  .header__logo--ikon {
    display: none;
  }

  .header__burgermenu {
    display: none;
  }

  .hero {
    padding: 200px 25%;
    gap: 20px;
    height: 700px;
  }
  .misogvis {
    flex-direction: row;
    padding: 50px 160px;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .kampagnevideo {
    padding: 50px var(--ldesktop);
    gap: 25px;
  }
  .kampagnevideo__graabg {
    padding: 50px var(--ldesktop);
    gap: 25px;
  }

  .mediatext {
    flex-direction: row;
    padding: 50px var(--ldesktop);
    gap: 80px;
    align-items: center;
  }
  .mediatext__textbox {
    gap: 25px;
    width: 100%;
  }
  .mediatext__titel--mobil {
    display: none;
  }
  .mediatext__titel--desktop {
    display: block;
  }
  .mediatext__vertical {
    padding: 50px var(--ldesktop);
  }
  .graabgmedia {
    flex-direction: row;
    padding: 50px var(--ldesktop);
    gap: 50px;
  }
  .graabgmedia__textbox {
    gap: 25px;
  }

  footer {
    padding: 50px var(--ldesktop);
    height: 356px;
    justify-content: space-between;
    align-items: flex-start;
  }
  #footer__cta {
    align-self: flex-start;
  }
}

/* Til store desktop skærme */
@media screen and (min-width: 1600px) {
  * {
    font-size: 18px;
    line-height: 1.5;
  }

  .button__cta {
    padding: 8px 35px;
  }

  .video {
    height: 600px;
  }

  .nav__menudesk--liste {
    display: flex;
  }

  header {
    padding: 15px var(--ldesktop);
  }

  .header__logo--langs {
    display: block;
  }

  .header__logo--ikon {
    display: none;
  }

  .header__burgermenu {
    display: none;
  }

  .hero {
    padding: 200px 15%;
    gap: 20px;
    height: 700px;
  }
  .misogvis {
    flex-direction: row;
    padding: 50px 160px;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .kampagnevideo {
    padding: 50px var(--ldesktop);
    gap: 25px;
  }

  .kampagnevideo__graabg {
    padding: 50px var(--ldesktop);
    gap: 25px;
  }

  .mediatext {
    flex-direction: row;
    padding: 50px var(--ldesktop);
    gap: 80px;
    align-items: center;
  }
  .mediatext__textbox {
    gap: 25px;
    width: 100%;
  }
  .mediatext__titel--mobil {
    display: none;
  }
  .mediatext__titel--desktop {
    display: block;
  }
  .mediatext__vertical {
    padding: 50px var(--ldesktop);
  }
  .graabgmedia {
    flex-direction: row;
    padding: 50px var(--ldesktop);
    gap: 50px;
  }
  .graabgmedia__textbox {
    gap: 25px;
  }

  footer {
    padding: 50px var(--ldesktop);
    height: 356px;
    justify-content: space-between;
    align-items: flex-start;
  }
  #footer__cta {
    align-self: flex-start;
  }
}
